@import "../../vars.css";


.eventImg{
    width: max-content;
    height: max-content;
    margin-bottom: 24px;
}

.title{
    font-size: 35px;
    margin-bottom: 30px;
}


.container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
}

.eventCards{
    display: flex;
    gap: 30px;
}

.eventCard{
    background: var(--color-dark);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 25px;
    padding: 50px;
    width: 540px;
    height: 480px;
}



