@import "../../vars.css";

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 5%;
}

.content{
    display: flex;
    align-items: center;
    justify-content: left;
}

.content h1{
    color: var(--color-text);
    letter-spacing: 1px;
}

.content img{
    width: 13%;
}

.menu{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.menuBtn{
    display: none;
}

.menuItem a{
    list-style: none;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 100;
}

@media screen and (max-width:830px) {
    .menu{
        display: none;
    }

    .menuBtn{
        display: block;
        cursor: pointer;
    }
}
