@import "../../vars.css";

.memberImg{
    width: 50%;
    max-width:400px;
    max-height: 400px;
}

.container{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    z-index: 2;
    gap: 34px;
}

.title{
    font-size: 35px;
    left: 5000px;
}

.contentItems{
    display: flex;
    gap: 36px;
    margin-top: 40px;
}

.contentText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

