@import "../../vars.css";

.memberImg{
    width: 50%;
    max-width:400px;
    max-height: 400px;
    z-index: 1;
}

.container{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    z-index: 2;
    gap: 34px;
}

.title{
    font-size: 35px;
}

.contentItems{
    display: flex;
    gap: 36px;
    margin-top: 40px;
}

.contentText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.topBlur{
    position:absolute;
    background: rgba(242,188,0,0.3);
    width: 30vw;
    height: 30vw;
    border-radius: 350px;
    filter: blur(100px);
    z-index: 0;
    right: -126px;
    bottom: 550px;

}

.bottomBlur{
    position:absolute;
    background: rgba(242,188,0,0.3);
    width: 30vw;
    height: 30vw;
    border-radius: 350px;
    filter: blur(100px);
    z-index: 0;
    left: -126px;
    top: 250px;
}

